.nrepl-port
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
/resources/locales.clj
/dev-resources/i18n/bin
/resources/**/Messages*.class
